<div class="row gutters-sm">
        <div class="col-md-4 d-none d-md-block">
          <div class="card">
            <div class="card-body">
              <nav class="nav flex-column nav-pills nav-gap-y-1">
                
                <a href="#account" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings mr-2"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg>Account Settings
                </a>
                
              </nav>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="account">
                <h6>ACCOUNT SETTINGS</h6>
                <hr>
                <form>
                 <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>

                      <div class="form-group">
                        <%= f.label :first_name %><br/>
                        <%= f.text_field :first_name, autofocus: true, autocomplete: "First_name"%>
                        
                      </div>
                      <hr>

                      <div class="form-group">
                        <%= f.label :last_name %><br/>
                        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name"%>
                      </div>
                      <hr>
                                 
                      <div class="form-group">
                        <%= f.label :email %><br/>
                        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                      </div>
                      <hr>

                      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                      <% end %>

                      <div class="form-group">
                        <%= f.label :password %> <small class="text-muted">(leave blank if you don't want to change it)</small><br />
                        <%= f.password_field :password, autocomplete: "new-password" %>
                        <% if @minimum_password_length %>
                          <br />
                          <small class="form-text text-muted"><%= @minimum_password_length %> characters minimum</small>
                        <% end %>
                      </div>
                      <hr>

                      <div class="form-group">
                        <%= f.label :password_confirmation %><br />
                        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                      </div>
                      <hr>

                      <div class="form-group">
                        <%= f.label :current_password %> <small class="text-muted">(we need your current password to confirm your changes)</small><br />
                        <%= f.password_field :current_password, autocomplete: "current-password" %>
                      </div>
                      <hr>

                      <div class="actions">
                        <%= f.submit "Update", class: "btn, btn-primary" %>
                      </div>
                      <hr>
                    <% end %>
                    <p>Unhappy?</p>
                    <h6>Cancel my account</h6>
                    <%= button_to "Delete", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %>

                    <p class="text-muted font-size-sm">Once you delete your account, there is no going back. Please be certain.</p>
                    
                    <%= link_to "Back", :back, class:"btn btn-primary"%>
          </form>
            </div>
                                  <div class="tab-pane" id="security">









